gphoto2==2.3.4
numpy==1.24.2
rawpy==0.18.0
opencv-python~=4.8.0.76
pip~=22.0.2
attrs~=21.2.0
distro~=1.8.0
wheel~=0.37.1
cryptography~=3.4.8
Pillow~=9.0.1
Jinja2~=3.1.2
setuptools~=59.6.0
pytz~=2022.1
six~=1.16.0
PyQt5~=5.15.6
PyGObject~=3.42.1
packaging~=21.3
zipp~=1.0.0
platformdirs~=3.1.1
nicegui~=1.4.3
matplotlib~=3.5.1
scikit-learn~=1.4.2
ExifRead==3.0.0
